<form method="post" ng-submit="login()" role="form">
    <img src="Content/logo-mundi.png" class="logo">
    <h2>Importador</h2>
    <p style="white-space: pre-line">
        Importador de dados MundiPagg
    </p>
    <input class=" text-box single-line" data-val="true" data-val-email="User name." ng-model="username" data-val-required="The user name is required." id="username" name="EmailAddress" placeholder="User name" type="text" value="" />
    <input class=" text-box single-line" data-val="true" data-val-required="Password Required." ng-model="password" id="Password" name="Password" placeholder="password" type="password" value="" />
    <input type="submit" value="Login" id="login" />

</form>